body{
    background-color: red;
    font: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.buttons{
    background-color: yellow;
    border-radius: 15px;
    border-color: yellow;
}


